<template>
    <div class="markdown-body md">
        <div v-html="Markdown"></div>
    </div>
</template>

<style lang='scss' scoped>
    .md {
        background: #eeeeee;
    }
</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';
	import MarkdownIt from "markdown-it";
	import hljs from 'highlight.js';

	const md = new MarkdownIt({
		highlight: function (str, lang) {
			if (lang && hljs.getLanguage(lang)) {
				try {
					return hljs.highlight(lang, str).value;
				} catch {}
			}
			return ''; // use external default escaping
		}
	});

	@Component({
		props: {
			src: String
		}
	})
	export default class MarkdownViewer extends Vue {
		private src?: string;
		private value: string = "";

		async created(): Promise<void> {
			const value = await fetch(this.src!);
			this.value = await value.text();
		}

		get Markdown(): string {
			return md.render(this.value!);
		}

	}
</script>
