<template>
    <div class="nav-bar-holder">

        <div class="nav-bar">
            <div class="logo-pic">
                <Pic type="h" :src="Logo" :relative="true"></Pic>
                <div class="subtitle">cyanprint</div>
            </div>
            <div class="holder">
                <div class="basic">
                    <router-link :class="Nav('home')" to="/">
                        Home
                    </router-link>
                    <router-link :class="Nav('tutorial')" to="/tutorial/use/start">Tutorial</router-link>
                </div>
                <SearchBar></SearchBar>
                <div class="users">
                    <div v-if="!Authenticated">
                        <div @click="Login" class="nav-ele">Login</div>
                    </div>
                    <div v-if="Authenticated">
                        <router-link to="/profile/token" :class="Nav('profile')">Profile</router-link>
                        <div @click="Logout" class="nav-ele">Logout</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<style lang='scss' scoped>

    $h: 60px;


    .center {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo-pic {
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;

        .subtitle {
            font-family: Lato, sans-serif;
            font-weight: 900;
            font-size: 15px;
            margin: 0 5px;
        }
    }

    .vertical-center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .nav-bar-holder {
        height: $h;
        position: relative;
        width: 100%;
    }

    .nav-bar {
        z-index: 10;
        position: fixed;
        display: block;
        overflow: hidden;
        height: $h;
        background: #f8f9fa;
        box-shadow: 0 1px 2px 0 #dfe3ec;
        width: 100%;
        top: 0;
    }

    .select {
        border-bottom: 2px cyan solid;
    }

    .holder {
        @extend .center;
        width: 800px;
        height: 100%;
        display: flex;
        font-family: Raleway, sans-serif;
        justify-content: space-between;

        .nav-ele {
            display: block;
            text-decoration: none;
            position: relative;
            color: black;
            height: 20px;
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
            border-bottom: 2px transparent solid;

            &:hover {
                @extend .select;
            }
        }

        .basic {
            position: relative;
            align-items: center;
            display: flex;
        }

        .users {
            height: 100%;
            align-items: center;
            position: relative;
            display: flex;
            align-content: flex-end;

            div {
                display: flex;
            }
        }
    }
</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';
	import {images} from "../images";
	import Pic from "./Pic.vue";
	import SearchBar from "./SearchBar.vue";
	
	@Component({
		components: {SearchBar, Pic}
	})
	export default class NavBar extends Vue {
		private authenticated: boolean = false;
		private profile: any = {};

		handleLoginEvent(data: any) {
			this.authenticated = data.loggedIn;
			this.profile = data.profile;
		}

		get Authenticated(): boolean {
			return this.authenticated;
		}

		Login(): void {
			this.$auth.login();
		}

		Logout(): void {
			this.$auth.logOut();
			this.$router.push({path: "/"});
		}

		get Profile(): any {
			return this.profile!;
		}


		Selected(s: string): boolean {
			// console.log(s);
			return false;
		}

		get Logo(): string {
			return images.logoPlain;
		}

		Nav(s: string): string[] {
			return ["nav-ele", this.Selected(s) ? "selected" : ""];
		}
	}
</script>
