<template>
    <div class="max">
        <div class="toast">
            <div class="creation" v-if="Creating">
                <div class="header">Create Personal Access Token</div>
                <div class="desc">Provide a descriptive name for the token to help you remember what it will be used for
                </div>

                <div class="label">Token Name</div>
                <input @input="Verify" placeholder="Token Name" v-model="tokenName" class="token-input">
                <span v-if="ShowError" class="error-message">{{error}}</span>
                <span v-else class="valid-message">{{Message}}</span>

                <div class="label">Expires in</div>
                <select class="token-input" v-model="days">
                    <option selected :value="1">1 day</option>
                    <option :value="30">30 days</option>
                    <option :value="90">90 days</option>
                    <option :value="180">180 days</option>
                    <option :value="365">365 days</option>
                </select>
                <div class="actions">
                    <div @click="CreateAttempt" class="click">Create</div>
                    <router-link to="/profile/token" class="click">Cancel</router-link>
                </div>
            </div>
            <div v-else>
                <div class="header">Personal Access Token Created</div>
                <div class="desc">Copy the token below to your clipboard. For security reasons, after you navigate off
                                  this page,
                                  no one will be able to see the token again.
                </div>

                <div class="token-secret">
                    <div class="actual-secret">{{Secret}}</div>
                    <div @click="SideCopyToClip" class="copy">
                        <Pic :relative="true" type="h" :src="SideIcon"></Pic>
                        <div class="value">{{SideValue}}</div>
                    </div>
                </div>
                <div class="actions">
                    <router-link to="/profile/token" class="click">Done</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang='scss' scoped>

    .token-secret {
        display: flex;
        justify-content: space-between;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        box-sizing: border-box;
        padding: 15px 20px;
        background: white;
        margin-top: 50px;
        border: 1px solid darkcyan;
        border-radius: 10px;
    }

    .copy {
        position: relative;
        display: flex;
        height: 20px;
        cursor: pointer;

        .value {
            margin-right: 10px;
            margin-left: 10px;
        }
    }

    .error-message, .valid-message {
        font-size: 14px;
        font-family: Roboto, sans-serif;
    }

    .error-message {
        color: #ff5e5e;
    }

    .creation {
        position: relative;
    }

    .valid-message {
        color: #32ce02;
    }

    .actions {
        margin: 20px 0;

    }

    .click {
        display: inline-block;
        position: relative;
        margin-top: 20px;
        font-size: 16px;
        padding: 10px 20px;
        border: 1px solid darkcyan;
        border-radius: 10px;
        color: black;
        background: #FFFFFF88;
        font-family: Roboto, sans-serif;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background: #EEEEEE22;
        }
    }

    .header {
        margin-bottom: 10px;
        font-family: Raleway, sans-serif;
        font-size: 20px;

    }

    .desc {
        font-size: 14px;
        font-family: Roboto, sans-serif;
        margin-bottom: 10px;
        color: #888888;
    }

    .token-input {
        border: 1px solid black;
        border-radius: 5px;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        padding: 6px 20px;
        width: 300px;
        box-sizing: border-box;
    }

    .label {
        margin-top: 10px;
        font-size: 16px;
        font-family: Raleway, sans-serif;
        margin-bottom: 5px;
    }

    .max {
        width: 100%;
        height: 80vh;
        position: relative;

        .toast {
            box-sizing: border-box;
            padding: 30px;
            border-radius: 10px;
            background: #eeeeee;
            box-shadow: 0 0 5px 0 #dfe3ec;
            width: 800px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';
	import {TokenNameValidator} from "../../../classLibrary/TokenNameValidator";
	import {core} from "../init";
	import {ApiError} from "../../../classLibrary/ApiError";
	import {InitialToken} from "../../../classLibrary/Token";
	import {CyanPrintSDK} from "../../../classLibrary/CyanPrintSDK";
	import Pic from "../components/Pic.vue";
	import {CopyToClipBoard} from "../index";
	
	@Component({
		components: {Pic}
	})
	export default class CreateToken extends Vue {
		private days: number = 1;
		private tokenName: string = '';
		private error: string = '';
		private message: string = '';
		private validator: TokenNameValidator = new TokenNameValidator(core);
		private creating: boolean = true;
		private secret: string = '';
		private sideCopied: boolean = false;

		Verify() {
			this.error = this.validator.Valid(this.tokenName);
			this.message = 'valid';
		}

		async CreateAttempt() {
			console.log(this.tokenName, this.days);
			const token: InitialToken = await this.$api.CreateToken(this.tokenName, this.days);
			if (token as any !== CyanPrintSDK.error) {
				this.creating = false;
				this.secret = token.secret;
			}
		}

		handleApiError(e: ApiError) {
			this.error = e.message;
		}

		get Message(): string {
			return this.message;
		}

		get ShowError(): boolean {
			return !this.error.IsEmpty();
		}

		get Creating(): boolean {
			return this.creating;
		}

		get Secret(): string {
			return this.secret;
		}

		get CopyIcon(): string {
			return "https://yarnpkg.com/assets/detail/ico-copy-default.svg";
		}

		get DoneIcon(): string {
			return "https://yarnpkg.com/assets/detail/ico-copy-success.svg";
		}

		get SideIcon(): string {
			return this.sideCopied ? this.DoneIcon : this.CopyIcon;
		}

		get SideValue(): string {
			return this.sideCopied ? "done" : "copy";
		}

		SideCopyToClip() {
			CopyToClipBoard(this.Secret);
			this.sideCopied = true;
			setTimeout(() => {
				this.sideCopied = false;
			}, 2000);
		}
		
	}
</script>
