<template>
    <div>
        <h1>Sorry! </h1>
        <h1>The page you are looking for does not exist!</h1>
    </div>
</template>

<style lang='scss' scoped>
    h1 {
        text-align: center;
        font-family: Raleway, sans-serif;
        margin: 80px;
    }
</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';
	
	@Component({})
	export default class NotFound extends Vue {
		
	}
</script>
