<template>
    <div class="verify">
        Please <span>verify</span> your email before continuing
    </div>
</template>

<style lang='scss' scoped>
    .verify {
        font-size: 30px;
        font-family: Raleway, sans-serif;
        padding: 50px;
        width: 100%;
        box-sizing: border-box;
        display: block;

        text-align: center;

        span {
            color: darkcyan;
        }
    }
</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';
	
	@Component({})
	export default class VerifyEmail extends Vue {
	}
</script>
