<template>
    <MarkdownHolder>
        <Start></Start>
        <NextStep to="prerequisite"></NextStep>
    </MarkdownHolder>
</template>

<style lang='scss' scoped>

</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';
	import MarkdownHolder from "../MarkdownHolder.vue";
	import Start from "./Markdown/GettingStarted.md";
	import NextStep from "./NextStep.vue";

	@Component({
		components: {NextStep, MarkdownHolder, Start}
	})
	export default class GetStarted extends Vue {
		
	}
</script>
