<template>
    <MarkdownHolder>
        <publish></publish>
        <NextStep to="gitlab"></NextStep>
    </MarkdownHolder>
</template>

<style lang='scss' scoped>

</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';
	import MarkdownHolder from "../MarkdownHolder.vue";
	import publish from "./Markdown/Publish.md";
	import NextStep from "./NextStep.vue";

	@Component({
		components: {NextStep, MarkdownHolder, publish}
	})
	export default class PublishTemplate extends Vue {
		
	}
</script>
