<template>
    <MarkdownHolder>
        <WriteTemplate></WriteTemplate>
        <NextStep to="input"></NextStep>
    </MarkdownHolder>
</template>

<style lang='scss' scoped>

</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';
	import MarkdownHolder from "../MarkdownHolder.vue";
	import WriteTemplate from "./Markdown/Write.md";
	import NextStep from "./NextStep.vue";

	@Component({
		components: {NextStep, MarkdownHolder, WriteTemplate}
	})
	export default class Write extends Vue {
		
	}
</script>
