<template>
    <div class="box">
        <div class="container">

            <ProfileHeader class="p-holder" :profile="ProfileData"></ProfileHeader>
            <div class="nav-bar">
                <router-link :class='GetClass("profile-token")' to="/profile/token">Tokens</router-link>
                <router-link :class='GetClass("profile-temp")' to="/profile/template">Templates</router-link>
                <router-link :class='GetClass("profile-group")' to="/profile/group">Groups</router-link>
            </div>
            <router-view></router-view>
        </div>
    </div>
</template>

<style lang='scss' scoped>
    .box {
        height: calc(100vh - 60px);
        overflow-y: auto;
    }
    .nav-bar {
        display: flex;
        justify-content: center;

        .nav-ele {
            width: 33%;
            padding: 15px 0;
            font-family: Roboto, sans-serif;
            font-size: 20px;
            text-align: center;
            color: black;
            border-bottom: 2px solid transparent;

            &.selected, &:hover {
                border-bottom: 2px solid darkcyan;
            }
        }
    }

    .p-holder {
        position: relative;
        margin-top: 40px;
    }

    .container {
        width: 800px;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }

    .image-holder {
        position: relative;
        width: 120px;
        height: 120px;
    }
</style>

<script lang='ts'>
	import {Component, Vue, Watch} from 'vue-property-decorator';
	import Pic from "../../components/Pic.vue";
	import MarkdownViewer from "../../components/MarkdownViewer.vue";
	import {ProfileData, ProfileDataObject} from "../../../../classLibrary/ProfileData";
	import ProfileHeader from "./ProfileHeader.vue";
	
	@Component({
		components: {ProfileHeader, MarkdownViewer, Pic}
	})
	export default class Profile extends Vue {
		private profile: ProfileData = this.$auth.profile!;
		private pName: string = '';

        /*===========
         EVENTS
         ========== */
		handleLoginEvent(data: any): void {
			this.profile = data.profile;
		}

		@Watch('$route', {immediate: true, deep: true})
		async onUrlChange() {
			this.pName = this.$route.name || "";
		}

        /*=============
         ACCESSORS
         =============== */
		GetClass(s: string): string[] {
			return ['nav-ele', s === this.pName ? 'selected' : ''];
		}

		get ProfileData(): ProfileDataObject {
			return new ProfileDataObject(this.profile);
		}


	}
</script>
