<template>
    <div class="top-level-profile">
        <div class="profile-holder">
            <div class="details">
                <div class="field">
                    <div class="label">Nickname</div>
                    {{ProfileInfo.nickname}}
                </div>
                <div class="field">
                    <div class="label">Email</div>
                    {{ProfileInfo.email}}
                </div>
                <div class="field">
                    <div class="label">Verified</div>
                    {{ProfileInfo.email_verified ? "Yes" : "No"}}
                </div>
            </div>
            <div class="profile-pic">
                <Pic :src="ProfileInfo.picture" type="b" :relative="true"></Pic>
            </div>
        </div>
        <hr>
    </div>
</template>

<style lang='scss' scoped>

    .top-level-profile {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .profile-holder {
        position: relative;
        display: flex;
        justify-content: space-between;

    }

    .profile-pic {
        position: relative;
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid darkcyan;

    }

    .details {
        font-family: Raleway, sans-serif;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .field {
            margin: 5px 0;
            display: flex;

            .label {
                font-family: Raleway, sans-serif;
                margin-right: 20px;
                width: 150px;
                color: darkcyan;
                font-size: 20px;
                font-weight: 800;
                text-align: right;
            }
        }
    }

</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';
	import {ProfileData, ProfileDataObject} from "../../../../classLibrary/ProfileData";
	import Pic from "../../components/Pic.vue";
	
	@Component({
		components: {Pic},
		props: {
			profile: ProfileDataObject
		}
	})
	export default class ProfileHeader extends Vue {
		private profile?: ProfileDataObject;

		get ProfileInfo(): ProfileData {
			return this.profile!.literal
		}
	}
</script>
