<template>
    <div class="token-holder">
        <h1>Personal Access Tokens</h1>
        <div v-if="State==='done'">
            <template v-for="token in Tokens">
                <div class="token-row">
                    <div class="key-details">
                        <div class="token-key">{{token.key}}</div>
                        <div class="token-expiry">Valid till {{FormatExpiry(token.expiry)}}</div>
                    </div>
                    <div class='revoke-button' @click="Revoke(token.id)">
                        Revoke
                    </div>
                </div>

            </template>

            <router-link class="create-token" to="/token/create">Create Token</router-link>
        </div>
        <div v-else-if="State==='loading'">
            <Loader :s="120" class="load"></Loader>
        </div>
        <div v-else-if="State==='error'">

        </div>
    </div>
</template>

<style lang='scss' scoped>

    .token-row {
        border-bottom: 1px solid darkcyan;
        box-sizing: border-box;
        padding: 20px;
        font-family: Roboto, sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .token-key {
            font-size: 20px;
            color: darkcyan;
            margin-bottom: 5px;
        }

        .token-expiry {
            font-size: 12px;
            color: #888888;
        }

        .revoke-button {
            padding: 5px 15px;
            border: 1px solid darkcyan;
            border-radius: 10px;
            color: black;
            background: #FFFFFF88;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background: #EEEEEE22;
            }
        }
    }

    .create-token {
        display: inline-block;
        position: relative;
        margin-top: 20px;
        font-size: 16px;
        padding: 10px 20px;
        border: 1px solid darkcyan;
        border-radius: 10px;
        color: black;
        background: #FFFFFF88;
        font-family: Roboto, sans-serif;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background: #EEEEEE22;
        }
    }

    .load {
        width: 100%;
        height: 30vh;
    }

    .no-token {
        text-align: center;
        font-size: 20px;
        padding: 50px;
        font-family: Roboto, sans-serif;
    }

    .token-holder {
        position: relative;
        padding: 30px;
        background: #eeeeee;
        margin: 20px 0;
        border-radius: 10px;
    }

    h1 {
        display: block;
        position: relative;
        font-family: Raleway, sans-serif;
        font-weight: 800;
        font-size: 25px;
        margin: 10px 0;
    }
</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';
	import Loader from "../../components/Loader.vue";
	import {Token} from "../../../../classLibrary/Token";
	import {ApiError} from "../../../../classLibrary/ApiError";
	import {MonthParse} from "../../init";
	
	@Component({
		components: {Loader}
	})
	export default class TokenView extends Vue {
		private state: string = 'loading';
		private tokens: Token[] = [];

		get State(): string {
			return this.state;
		}

        /*===============
         EVENTS
         ================*/

		handeApiError(e: ApiError) {
			if (e.type === 404) {

			} else {
				this.state = 'error';
			}
		}

		async mounted(): Promise<void> {
			await this.PullTokenData();
		}

		/***===========
		 * BEHAVIOUR
		 * =============*/
		async PullTokenData(): Promise<void> {
			this.tokens = await this.$api.getAllToken();
			this.state = 'done';
		}

		FormatExpiry(date: string): string {
			const d = new Date(date);
			const month = MonthParse(d.getMonth());
			return `${d.getDate()} ${month} ${d.getFullYear()}`;
		}

		async Revoke(id: number) {
			this.state = 'loading';
			await this.$api.DeleteToken(id);
			await this.PullTokenData();
			this.state = 'done';
		}

        /*===========
         ACCESSORS
         ============= */

		get Tokens(): Token[] {
			return this.tokens;
		}

	}
</script>
