<template>
    <div class="logo">
        <Pic :src="Logo" type="h" :relative="true"></Pic>
        <div>
            <div class="desc">
                The Robust <br>
                Templating Engine
            </div>
            <div class="buttons">
                <router-link to='/tutorial/use/start' class="click-button">Getting Started</router-link>
                <router-link to="/docs" class="click-button">Docs</router-link>
                <a href="https://gitlab.com/node-packages-kirin/cyanprint" target="_blank" class="click-button">
                    <div class="gitlab-holder">
                        <Pic class='gitlab' :src="GitLab" type="h" :relative="true"></Pic>
                    </div>
                    <div>
                        Source
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>

<style lang='scss' scoped>

    .h-center {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .gitlab-holder {
        height: 25px;
    }

    .gitlab {
        margin: 0 10px 0 0;
    }

    .buttons {
        margin-top: 20px;
        display: flex;
        $buttonColor: #5dacbd;

        .click-button {
            text-transform: uppercase;
            color: white;
            background: $buttonColor;
            margin: 10px 10px 0 10px;
            font-size: 16px;
            text-align: center;
            justify-content: center;
            padding: 5px 25px;
            border-radius: 40px;
            border: 1px solid $buttonColor;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            height: 40px;
            position: relative;
            display: flex;
            align-items: center;

            &:hover {
                background: transparent;
                color: $buttonColor;
            }
        }
    }

    .logo {
        @extend .h-center;

        .desc {
            font-weight: 200;
            font-size: 55px;
        }

        align-items: flex-end;
        display: flex;
        height: 300px;
    }

</style>

<script lang='ts'>
	import Pic from "../../components/Pic.vue";
	import {Component, Vue} from 'vue-property-decorator';
	import {images} from "../../images";
	
	@Component({components: {Pic}})
	export default class Banner extends Vue {
		get Logo() {
			return images.logo;
		}

		get GitLab(): string {
			return images.gitlab;
		}
	}
</script>
