<template>
    <div class="cover">
        <div class="header1">{{title}}</div>
        <div class="header2">{{title2}}</div>
        <div class="desc">{{description}}</div>
    </div>
</template>

<style lang='scss' scoped>

    .cover {
        box-sizing: border-box;
        padding: 20px;
    }

    .header1 {
        font-size: 50px;
        font-family: Cabin, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }

    .header2 {
        font-size: 50px;
        font-weight: 200;
        font-family: Raleway, sans-serif;
        text-transform: uppercase;
    }

    .desc {
        padding: 10px;
        font-family: Quicksand, sans-serif;
        font-size: 20px;
    }
</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';
	
	@Component({
		props: {
			title: String,
			title2: String,
			description: String
		}
	})
	export default class HomeFeature extends Vue {
		
	}
</script>
