import {EaseStrength} from "@kirinnee/kease";
<template>
    <div class="marquee">
        <div class="com">Scaffold</div>
        <div ref="r1" class="tech com left">
            <div class="first">NPM Library</div>
            <div class="second">Ruby Gem</div>
        </div>
        <div class="com"> with</div>
        <div ref="r2" class="tech com right">
            <div class="first">Typescript</div>
            <div class="second">Ruby Gem</div>
        </div>
    </div>
</template>

<style lang='scss' scoped>
    .first, .second {
        font-family: Quicksand, sans-serif;
        position: relative;
        overflow: visible;
    }

    .left {
        color: #5dacbd;
    }

    .right {
        color: goldenrod;
    }

    .tech {
        text-align: center;
        overflow: hidden;
        width: 300px;
        position: absolute;
    }

    .marquee {
        .com {
            font-family: Quicksand, sans-serif;
            height: 50px;
            position: relative;
            padding: 5px;
        }

        margin: 50px 0 0 0;
        height: 60px;
        overflow: hidden;
        font-size: 40px;
        display: flex;
        justify-content: center;
        width: auto;
    }
</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';
	import {$$, eases} from "../../init";
	import {EaseStrength} from "@kirinnee/kease";
	
	@Component({})
	export default class MarqueeAdvert extends Vue {
		private keys: { [s: string]: string[] } = {
			"NPM Library": ["Typescript", "Babel", "GitLab CI"],
			"Vue SPA": ["Typescript", "Auth0", "rImager", "GitLab CI"],
			"NuGet Library": [".NET Core", "GitLab CI"],
			"Node CLI": ["Commander", "Inquirer", "GitLab CI"],
			"Ruby Gem": ["Rake", "GitLab CI"],
		};
		private order: [string, string][] = [];
		private current: number = 0;
		private play: boolean = false;


        /*================
         Base EVents
         ================= */
		created() {
			for (const k in this.keys!) {
				const v = this.keys![k];
				this.order! = this.order!.Add(v.Map(e => [k, e]));
			}
		}

		async mounted() {
			const parent1 = this.$refs.r1 as HTMLElement;
			const parent2 = this.$refs.r2 as HTMLElement;
			this.play! = true;
			await this.sequence(parent1, parent2);
		}

		destroyed(): void {
			this.play! = false;
		}


        /*================
         Behaviours
         ================= */
		async sequence(first: Element, second: Element): Promise<void> {
			await $$(2000);
			const [current1] = this.order![this.current!];
			this.current! = this.current! === this.order!.length - 1 ? 0 : ++this.current!;
			const [new1, new2] = this.order![this.current!];
			const promises: Promise<any>[] = [];
			if (new1 !== current1) promises.push(this.rotateText(new1, first));
			promises.push(this.rotateText(new2, second));
			await Promise.all(promises);
			if (this.play!) await this.sequence(first, second);
		}

		async rotateText(target: string, parent: Element): Promise<void> {
			const [first, second]: [Element, Element] = [parent.querySelector(".first")!, parent.querySelector(".second")!];
			second.textContent = target;
			const out = eases.EaseOut(EaseStrength.Quadratic);
			await Promise.all([
				first.Y(0, -50, {duration: 1000, ease: out}).Promise,
				second.Y(0, -50, {duration: 1000, ease: out}).Promise
			]);
			first.textContent = second.textContent;
			first.Y(0, 0);
			second.Y(0, 0);
		}

	}
</script>
