<template>
    <div id="app">
        <NavBar></NavBar>
        <div class="buffer">

        </div>
        <div class="center">
            <router-view/>
        </div>
    </div>
</template>

<style>
    .buffer {
        display: block;
        position: fixed;
        height: 60px;
    }
    .center {
        overflow-y: hidden;
        overflow-x: hidden;
        max-height: calc(100vh - 60px);
        position: relative;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
</style>

<script lang="ts">
	import {Component, Vue} from 'vue-property-decorator';
	import NavBar from "./components/NavBar.vue";

	@Component({
		components: {NavBar}
	})

	export default class App extends Vue {
		async created() {
			try {
				await this.$auth.renewTokens();
			} catch {

			}
		}
	}
</script>
