<template>
    <div class="h-container">
        <div class="group-view-holder">
            <div v-if="State==='done'">
                <div class="header">
                    <div class="head-name"> {{Temp.display_name}}</div>
                    <div v-if="ShowStar" @click="Star" class="star-button">
                        <div class="star-left">
                            <Pic :src="star" type="h" :relative="true"></Pic>
                        </div>
                        <div class="star-right">{{Starred}}</div>
                    </div>
                </div>
                <div class="main">
                    <div class="markdown-holder">
                        <div v-if="ShowMarkdown">
                            <MarkdownViewer :src="markdown"></MarkdownViewer>
                        </div>
                        <div v-else>
                            ReadMe was not found.
                        </div>
                    </div>
                    <div class="markdown-detail">
                        <div class="name">Installation</div>
                        <div class="cmd">$ cyan g i {{Temp.unique_key}}
                            <div @click="SideCopyToClip" class="copy">
                                <Pic :relative="true" type="h" :src="SideIcon"></Pic>
                                <div class="value">{{SideValue}}</div>
                            </div>
                        </div>

                        <div class="detail">Information</div>
                        <div class="author">
                            <Pic :src="author" type="h" :relative="true"></Pic>
                            <div class="v">{{Temp.author}}</div>
                        </div>
                        <div class="downloads">
                            <Pic :src="download" type="h" :relative="true"></Pic>
                            <div class="v">{{Temp.downloads}}</div>
                        </div>
                        <div class="stars">
                            <Pic :src="star" type="h" :relative="true"></Pic>
                            <div class="v">{{Temp.stars}}</div>
                        </div>
                        <div class="detail">Templates</div>
                        <div class="groups">
                            <router-link class="link" :to="`/template/${s}`" v-for="s in Temp.templates" :key="s">{{s}}
                            </router-link>
                        </div>
                    </div>
                </div>

            </div>
            <div v-else-if="State==='loading'" class="loading">
                <Loader :s="120" class="load"></Loader>
            </div>
            <div v-else class="not-found">
                Group <span>{{groupKey}}</span> not found!
            </div>
        </div>
    </div>
</template>

<style lang='scss' scoped>

    .h-container {
        height: calc(100vh - 60px);
        overflow-y: auto;
        overflow-x: hidden;
    }

    .load {
        width: 100%;
        height: 30vh;
    }

    .center {
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }

    .not-found {
        font-family: Raleway, sans-serif;
        font-size: 30px;
        text-align: center;
        padding: 50px;

        span {
            font-size: 40px;
            color: darkcyan;
        }

        @extend .center;

    }

    .header {
        padding: 50px 50px 0 50px;
        font-family: Raleway, sans-serif;
        font-size: 50px;
        font-weight: 800;
        display: flex;
        align-items: flex-end;

        .head-name {
            margin-right: 20px;
        }

        .star-button {
            border: 1px solid #888888;
            background: #eeeeee;
            position: relative;
            overflow: hidden;
            display: flex;
            border-radius: 10px;
            font-size: 20px;
            cursor: pointer;
            margin-bottom: 5px;

            .star-left {
                margin: 5px 5px 5px 20px;
            }

            .star-right {
                margin: 3px 20px 7px 5px;
            }

            div {
                height: 20px;
                position: relative;
            }
        }
    }

    .groups {
        width: 200px;
        position: relative;;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;

        .link {
            display: block;
            position: relative;;
            font-size: 14px;
            margin: 5px;
        }
    }


    .main {
        box-sizing: border-box;
        padding: 20px 50px 50px 50px;
        display: flex;

        .markdown-detail {
            border-left: 1px solid darkcyan;
            width: 30%;
            position: relative;
            box-sizing: border-box;
            font-size: 20px;
            font-family: Raleway, sans-serif;

            .name, .cmd, .groups, .detail {
                margin: 20px;
            }


            .author, .downloads, .stars {
                font-size: 18px;
                margin: 10px 20px;
                height: 24px;
                position: relative;
                display: flex;
                align-items: center;

                .v {
                    margin: 0 10px;
                    position: relative;
                }
            }

            .name, .detail {
                font-size: 25px;
                font-weight: 800;
            }

            .cmd {
                width: 100%;

                .copy {
                    position: relative;
                    display: flex;
                    height: 20px;
                    cursor: pointer;

                    .value {
                        margin: 0 20px;
                    }
                }

                display: flex;
                justify-content: space-between;
                color: #666666;
                font-family: monospace;
                font-size: 16px;
                padding: 10px 20px;
                background: #eceeef;
            }
        }

        .markdown-holder {
            width: 70%;
            box-sizing: border-box;
            position: relative;
        }
    }


    .group-view-holder {
        @extend .center;
        width: 1000px;
    }
</style>

<script lang='ts'>
    import {Component, Vue, Watch} from 'vue-property-decorator';
    import MarkdownViewer from "../../components/MarkdownViewer.vue";
    import {ApiError} from "../../../../classLibrary/ApiError";
    import {CyanPrintSDK} from "../../../../classLibrary/CyanPrintSDK";
    import {CopyToClipBoard, images} from "../../index";
    import Pic from "../../components/Pic.vue";
    import {GroupData, GroupDataLiteral} from "../../../../classLibrary/GroupData";
    import Loader from "../../components/Loader.vue";

    declare var PRODUCTION: boolean;
    @Component({components: {Pic, MarkdownViewer, Loader}})
    export default class GroupView extends Vue {
        private markdown: string = "";
        private state: string = "loading";
        private groupKey: string = "";
        private group: GroupData | null = null;
        private sideCopied: boolean = false;
        private isStarred: boolean = false;
        private authenticated: boolean = false;
        private assured: boolean = false;

        data() {
            return {
                git: images.git,
                author: images.author,
                star: images.star,
                download: images.dl
            };
        }

        handleApiError(e: ApiError) {
            console.log(e);
            this.state = "bad";
        }

        @Watch('$route', {immediate: true, deep: true})
        async onUrlChange() {
            if (this.$auth.isAuthenticated()) {
                this.authenticated = true;
            }
            this.groupKey = this.$route.params.id;
            const group = await this.$api.GetGroup(this.groupKey!);
            if ((group.literal as any) != CyanPrintSDK.error) {
                this.group = group;
                this.markdown = PRODUCTION ? this.group.literal.readme : this.$api.host + "/" + this.group.literal.readme;
                if (this.Authenticated) {
                    this.isStarred = await this.$api.IsGroupStarred(this.group.literal.unique_key);
                    this.assured = true;
                }
                this.state = "done";
            }

        }

        async Star() {
            if (this.Authenticated) {
                this.isStarred =
                    await this.$api.ToggleGroupStar(this.Temp.unique_key, !this.isStarred!);
                this.group = await this.$api.GetGroup(this.groupKey);
            }
        }

        SideCopyToClip() {
            CopyToClipBoard(`cyan g i ${this.Temp.unique_key}`);
            this.sideCopied = true;
            setTimeout(() => {
                this.sideCopied = false;
            }, 2000);
        }

        get Temp(): GroupDataLiteral {
            return this.group == null ? {
                display_name: 'loading...',
                unique_key: 'loading...',
                downloads: 0,
                stars: 0,
                readme: '',
                templates: [],
                author: 'loading...'
            } : this.group!.literal;
        }

        get ShowMarkdown(): boolean {
            return !this.markdown.IsEmpty();
        }

        get CopyIcon(): string {
            return "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNSAxNyI+CiAgPHBhdGggZmlsbD0iIzY2NjY2NiIgZD0iTTEzLjgwNiA0LjA2OGgtMy4xODJWLjg4NkEuNjM3LjYzNyAwIDAgMCA5Ljk4OC4yNWgtOC45MWEuNjM3LjYzNyAwIDAgMC0uNjM2LjYzNlYxMi4zNGMwIC4zNTIuMjg1LjYzNy42MzcuNjM3aDMuMTh2My4xODJjMCAuMzUuMjg2LjYzNS42MzcuNjM1aDguOTFhLjYzNy42MzcgMCAwIDAgLjYzNS0uNjM2VjQuNzA0YS42MzcuNjM3IDAgMCAwLS42MzYtLjYzN3ptLTkuNTQ2LjYzN3Y3SDEuNzE1VjEuNTIzSDkuMzV2Mi41NDVINC44OThhLjYzNy42MzcgMCAwIDAtLjYzNy42Mzd6bTguOTEgMTAuODE4SDUuNTMzVjUuMzRoNy42Mzd2MTAuMTgyeiIvPgo8L3N2Zz4K";
        }

        get DoneIcon(): string {
            return "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNiAzNiI+CiAgPHBhdGggZmlsbD0iIzY2NjY2NiIgZD0iTTEzLjc5IDMwLjU5M2MuNjAzIDAgMS4yMDctLjIzIDEuNjYtLjY5bDE4Ljg2LTE4Ljg2Yy45Mi0uOTIuOTItMi40MTQgMC0zLjMzNC0uOTItLjkyLTIuNDE0LS45Mi0zLjMzMyAwTDEzLjc4NSAyNC45bC03Ljc2Mi03Ljc2Yy0uOTItLjkyLTIuNDE0LS45Mi0zLjMzMyAwLS45Mi45Mi0uOTIgMi40MTQgMCAzLjMzNGw5LjQzIDkuNDNjLjQ2Mi40NTggMS4wNjYuNjkgMS42Ny42OXoiLz4KPC9zdmc+Cg==";
        }

        get SideIcon(): string {
            return this.sideCopied ? this.DoneIcon : this.CopyIcon;
        }

        get SideValue(): string {
            return this.sideCopied ? "done" : "copy";
        }

        get Starred(): string {
            return this.isStarred ? "unstar" : "star";
        }

        get State(): string {
            return this.state;
        }

        async handleLoginEvent(data: any) {
            this.authenticated = data.loggedIn;
            if (this.Authenticated) {
                this.isStarred = await this.$api.IsGroupStarred(this.Temp.unique_key);
                this.assured = true;
            }
        }

        get ShowStar(): boolean {
            return this.Authenticated && this.assured && this.$auth.isVerified();
        }

        get Authenticated(): boolean {
            return this.authenticated;
        }

    }
</script>
