<template>
    <div class="box">
        <div class="holder">

            <div class="r-header">
                Results
            </div>
            <div v-if="!Loading">
                <div v-if="HaveTemplate">
                    <TemplateSearchResult v-for="template in TemplateResults" :template-value="template" :key="template.unique_key"></TemplateSearchResult>
                </div>
                <div v-else-if="HaveGroup">
                    <GroupSearchResult v-for="group in GroupResults" :group-value="group" :key="group.unique_key"></GroupSearchResult>
                </div>
                <div class="not-found" v-else-if="!Error">
                    No {{searchType.toLowerCase()}} match <span>{{searchTerm}}</span>
                </div>
                <div class="error" v-else>
                    The server seems to be down... :<
                    <br>
                    Please wait while we try our best to get it back up!
                </div>
            </div>
            <div class="loader-holder" v-else>
                <div class="loader-mid">
                    <div class="loader">
                        <Pic :src="search" type="b" :relative="true"></Pic>
                    </div>
                    <div>Searching for {{searchType.toLowerCase()}}{{ellipsis}}</div>
                </div>
            </div>
        </div>

    </div>
</template>

<style lang='scss' scoped>
    .box {
        height: calc(100vh - 60px);
        overflow-y: auto;
    }
    .not-found, .error {
        width: 100%;
        text-align: center;
        font-family: Raleway, sans-serif;
        font-size: 20px;

        span {
            font-size: 25px;
            color: darkcyan;
        }

    }

    .loader-holder {
        position: relative;
        min-height: 20vh;
    }

    .loader-mid {
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: Raleway, sans-serif;
        font-size: 20px;
    }

    .loader {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 100px;
        width: 100px;
    }

    .r-header {
        font-family: Raleway, sans-serif;
        font-size: 30px;
        padding: 20px;
    }

    .holder {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 800px;
    }
</style>

<script lang='ts'>
	import {Component, Vue, Watch} from 'vue-property-decorator';
	import {TemplateFlyWeight} from "../../../../classLibrary/TemplateFlyWeight";
	import TemplateSearchResult from "./TemplateSearchResult.vue";
	import GroupSearchResult from "./GroupSearchResult.vue";
	import {GroupData} from "../../../../classLibrary/GroupData";
	import Pic from "../../components/Pic.vue";
	import search from "../../assets/search.svg";
	import {ApiError} from "../../../../classLibrary/ApiError";
	
	@Component({components: {GroupSearchResult, TemplateSearchResult, Pic}})
	export default class Search extends Vue {
		private result: TemplateFlyWeight[] = [];
		private group: GroupData[] = [];
		private previousType: string = "";
		private current: string = "";
		private latest: string = "";
		private loading: boolean = false;
		private searchTerm: string = "";
		private searchType: string = "";
		private loop: any = null;
		private ellipsis: string = "";
		private error: boolean = false;

		handleApiError(e: ApiError) {
			console.log(e);
			this.loading = false;
			this.error = true;
		}

		data() {
			return {search};
		}

		mounted() {
			this.loop = setInterval(() => {
				const l = this.ellipsis!.length;
				if (l === 3) {
					this.ellipsis = ".";
				} else {
					this.ellipsis += ".";
				}
			}, 500);
		}

		destroyed() {
			clearInterval(this.loop!);
		}

		get Loading(): boolean {
			return this.loading!;
		}

		@Watch('$route', {immediate: true, deep: true})
		async onUrlChange() {
			this.searchTerm = this.$route.params.id;
			this.searchType = this.$route.params.type;
			await this.Search(this.searchType, this.searchTerm || "");
		}

		async Search(type: string, term: string): Promise<void> {
			if (type !== this.previousType) {
				this.loading = false;
				this.result = [];
				this.group = [];
			}
			this.previousType = type;
			this.latest = term;
			if (!this.loading!) {
				this.loading = true;
				this.current = term;
				if (type.toLowerCase() === "template") {
					this.result = await this.$api.SearchTemplates(term);
					this.error = false;
				} else {
					this.group = await this.$api.SearchGroups(term);
					this.error = false;
				}
				this.loading = false;
				if (this.latest! !== this.current!) {
					this.Search(type, this.latest);
				}
			}
		}

		get HaveTemplate(): boolean {
			return this.result!.length > 0 && this.searchType == "Template";
		}

		get HaveGroup(): boolean {
			return this.group!.length > 0 && this.searchType == "Group";
		}

		get GroupResults(): GroupData[] {
			return this.group!;
		}

		get TemplateResults(): TemplateFlyWeight[] {
			return this.result!;
		}

		get Error(): boolean {
			return this.error;
		}
	}
</script>
