<template>
    <div>
        <div class="holder">
            <div class="markdown-body">
                <Group1></Group1>
            </div>
        </div>
    </div>
</template>

<style lang='scss' scoped>
    .center {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .holder {
        display: block;
        padding: 30px;
        font-family: Roboto, sans-serif;
        width: 800px;
        box-sizing: border-box;
        @extend .center;
    }
</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';
	import Group1 from "./Group1.md";

	@Component({
		components: {Group1}
	})
	export default class GroupUsage extends Vue {
		
	}
</script>
